.ProductStyle1 {
  background-color: #fff;
  padding: 20px;
  margin: 10px 2px 0 2px;
  transition: all 0.1s;
  cursor: pointer;
  .type {
    color: #768b9e;
    font-size: 0.857em;
  }
  .name {
    height: 2.57144em;
    line-height: 1.28572em;
    font-size: 1em;
    color: #0062bd;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .img {
    img {
      width: 100%;
    }
  }
  .sop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price {
      font-size: 1.429em;
      margin: 0;
    }
    span {
      color: #fff;
      background: #eaeaea;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      font-size: 20px;
      border-radius: 50%;
    }
  }
  .tool {
    display: none;
    justify-content: space-between;
    padding-top: 15px;
    border-top: rgba(60, 64, 67, 0.3) solid 1px;
    margin-top: 5px;
    .flex {
      display: flex;
      align-items: center;
    }
    p {
      margin: 0;
    }
    span {
      margin-right: 5px;
    }
  }
  &:hover {
    z-index: 999;
    position: absolute;
    border: 1px solide black;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    .sop {
      span {
        background: #fed700;
      }
    }
    .tool {
      position: relative;
      display: flex;
    }
  }
}
