.WishList{
    min-height: 90vh;
    h1 {
        width: fit-content;
        margin: 50px auto;
      }
      .empty{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}