.ToolBar {
  margin: 30px 0px;
  .logo {
    cursor: pointer;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search {
    display: flex;
    width: 50%;
    .menu {
      margin-right: 50px;
      font-size: 20px;
    }
  }
  .userAction {
    display: flex;
    align-items: center;
    font-size: 20px;
    span {
      margin-left: 50px;
    }
    p {
      margin: 0;
    }
  }
}
