.Header {
  border-bottom: #bbb 1px solid;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: black;
  }
  p {
    align-items: center;
    margin: 0px;
  }
  ul {
    display: flex;
    margin: 0px;
    li {
      margin: 5px;
      border-right: 1px solid #bbb;
      a {
        padding-right: 10px;
        display: block;
      }
    }
    li:last-child {
      border-right: 0px;
      margin-right: 0px;
      a {
        padding-right: 0px;
      }
    }
  }
}
