.Search {
  min-height: 100vh;
  padding-bottom: 50px;
  .container {
    h1 {
      width: fit-content;
      margin: 50px auto;
      font-size: 35px;
    }
    .one {
      width: 100%;
      height: 30vh;
      text-align: center;
      align-items: center;
      justify-content: center;
      span {
        font-size: 200px;
      }
    }
  }
}
