.TopProduct {
  margin: 50px 0px;
  .container {
    .product {
      width: 100%;
      .title {
        padding: 20px;
        h1 {
          border-bottom: 1px solid #bbb;
          position: relative;
        }
        .divider {
          position: absolute;
          width: 100px;
          border-top: 2px solid #fed700;
          bottom: -1px;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          margin: 10px 0;
          padding: 10px;
          img {
            width: 75px;
            height: 75px;
          }
          .text {
            p {
              margin: 0;
            }
            p.name {
              color: #0062bd;
              font-weight: bold;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
