.OverHead {
  display: flex;
  width: 100%;
  align-items: center;
  .title {
    width: 25%;
  }
  p {
    margin: 0;
    background: #fed700;
    padding: 10px 20px;
    font-weight: bold;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    span {
      margin-right: 10px;
    }
  }
  // .navigator {
  //   width: 75%;
  //   display: flex;
  //   justify-content: space-between;
  //   ul {
  //     display: flex;
  //     margin: 0;
  //     padding: 0;
  //     li {
  //       padding: 0 20px;
  //     }
  //   }
  //   li {
  //     font-weight: bold;
  //     list-style: none;
  //     cursor: pointer;
  //   }
  //   .red {
  //     color: red;
  //     span {
  //       font-size: 12px;
  //       margin-left: 5px;
  //       font-weight: bold;
  //     }
  //   }
  // }
}
