.SignUpMail {
  background-color: #fed700;
  padding: 10px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .msg1 {
      font-size: 25px;
    }
    .msg {
      font-size: 17px;
      span {
        font-weight: bold;
      }
    }
    .send {
      input {
        width: 400px;
        padding: 15px;
        border: none;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
      }
      button {
        padding: 15px;
        border: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background: #333;
        color: white;
      }
    }
  }
}
